.HomeTopSectionBackgroundColor{
    background-color: #FAFAFA;
}
.HomeTopSectionBackgroundColor_WomanInRedImage{
    background-color: #FAFAFA;
}
.HomeTopSectionBackgroundColor_ManInDreadsImage{
    background-color: #370548;
}
.HomeTopSectionBackgroundColor_headerImage{
    background-color: #D1EBFF;
}
.HomeTopSectionBackgroundColor_ManInBlackImage{
    background-color: #BF41AB;
}
.HomeTopSectionBackgroundColor_LadyInBlackImage{
    background-color: #D7C9C9;
}